.working_canvas {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    height: 300vh;
    width: 300vw;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
}

.working_canvas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px,
        transparent 20px
    ),
    repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px,
        transparent 20px
    );
    pointer-events: none;
    z-index: 0; 
}

.cursor {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.user_name {
    font-size: .9rem;
    transform: translateY(15px);
}

.left_table{
    flex-direction: column;
    display: flex;
    align-items: start;
    position: fixed;
    background-color: white;
    padding: 6px;
    gap: 7px;
    transform: translate(-50%, -50%);
    left: 2%;
    top: 50%;
}

.left_table button{
    padding: 6px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
&:hover{
    background-color: #93c2f5;
}}

.active_button {
    background-color: #007BFF;
    color: white; 
    border: 1px solid #0056b3;
    transition: background-color 0.2s ease-in;
}
